{
  "request": {
    "trace": {
      "serviceId": "{{ serviceId }}",
      "consumerId": "{{ consumerId }}",
      "moduleId": "{{ moduleId }}",
      "channelCode": "{{ channelCode }}",
      "traceId": "{{ traceId }}",
      "timestamp": "{{ timestamp }}",
      "identity": {
        "userId": "{{ identity.userId }}",
        "deviceId": "{{ identity.deviceId }}",
        "host": "{{ identity.host }}"
      }
    },
    "payload": {{ payload }}
      
  }
}